# --- General Config ---
ENVIRONMENT=development

# --- Database (PostgreSQL inside Docker) ---
POSTGRES_DB=marketplace_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_HOST=db
POSTGRES_PORT=5432


# --- Backend (Django) ---
DJANGO_SECRET_KEY=django-insecure-%en*%0tj(a=(i858)==9#@=0jc7aw+ul*$okq@394z1xsdf7w9
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

# --- JWT Settings ---
JWT_SECRET_KEY=your_jwt_secret_key_here

# --- OAuth Credentials (Google / GitHub) ---
OAUTH_CLIENT_ID=your_oauth_client_id_here
OAUTH_CLIENT_SECRET=your_oauth_client_secret_here

# --- Frontend (Vite + React)---
VITE_API_URL=http://localhost/api/v1/

